
.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

header {
  text-align: center;
  font-size: 60px;
  margin: 20px;
}

.m-card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  line-height: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  color: black;
}

.flex-hor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 30px;
}

nav {
  position: absolute;
  top: 0;
}

